-e git+https://github.com/vizwizgroup/AlgoDJ.git@547c5d3858385c260ebccc419d498db825d7f8ec#egg=algodj
asttokens==2.1.0
async-timeout==4.0.2
backcall==0.2.0
beautifulsoup4==4.11.1
Brotli==1.0.9
certifi==2022.9.24
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
colourmap==1.1.10
cycler==0.11.0
dash==2.6.2
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-daq==0.1.4
dash-holoniq-wordcloud==0.0.4
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
debugpy==1.6.3
decorator==5.1.1
Deprecated==1.2.13
entrypoints==0.4
executing==1.2.0
Flask==2.1.0
Flask-Compress==1.13
future==0.18.2
gunicorn==20.0.4
idna==3.4
importlib-metadata==5.0.0
ipykernel==6.17.1
ipython==8.6.0
ismember==1.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==7.4.7
jupyter_core==5.0.0
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.1.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
networkx==2.8.8
numpy==1.23.4
packaging==21.3
pandas==1.5.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.4
plotly==5.10.0
prompt-toolkit==3.0.32
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pycountry==22.3.5
Pygments==2.13.0
pyparsing==3.0.9
pyspark==3.3.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-louvain==0.16
pytz==2020.5
pyzmq==24.0.1
redis==4.3.4
requests==2.28.1
retrying==1.3.3
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
six==1.16.0
sklearn==0.0.post1
soupsieve==2.3.2.post1
spotipy==2.21.0
stack-data==0.6.1
tenacity==8.1.0
threadpoolctl==3.1.0
tornado==6.2
traitlets==5.5.0
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.2.2
wordcloud==1.8.2.2
wrapt==1.14.1
xlrd==1.2.0
zipp==3.10.0
